@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'harry-potter';
  src: url('../fonts//HarryPotter.woff2') format('truetype');
}

body {
  color: white;
  background-color: black;
  font-family: 'harry-potter', sans-serif;
}

/* Houses cards */
.container{
  padding: 15px;
}
.card{
  height: 100%;
  padding: 6px;
}
.card-text{
  max-width: 60ch;
  margin-top: 1rem;
  padding: 10px;
}